@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Vollkorn+SC&display=swap');
body {
    background-image: url(../images/artmuseum.jpg);
    background-size: cover;
    padding: 10px;
    font-family: 'EB Garamond', serif;
}

div {
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    margin: 5px;
    vertical-align: middle;
}

h1 {
    font-weight: bold;
    color: #19485A;
    font-family: 'Vollkorn SC', serif;
}

h3 {
    color: #8F3523;
}

input, label {
    margin-right: 10px;
}

#mainBody {
    background-color: #f2e7e1;
    margin: 0 auto;
    width: 75%;
    padding: 10px;
}

#timer {
    background-color: #8F3523;
    color: #f2e7e1;
    font-size: 22px;
}

#score {
    border-width: 3px;
    border-style: solid;
    border-color: #19485A;
    padding: 5px;
}

.question {
    margin-bottom: 20px;
}